.container {
  display: grid;
  grid-template-columns: 76px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "menu content";
  min-height: 100vh;
}

.container.mobile {
  grid-template-areas:
    "header header"
    "content content";
}

.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
  z-index: 1;
  background-color: #333;
}

.content {
  grid-area: content;
}
