.container {
  display: grid;
  grid-template-columns: 76px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "menu content";
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
  z-index: 1;
  background-color: #333;
}

.content {
  grid-area: content;
}

.backToTop {
  width: 50px;
  height: 50px;
  background-color: var(--blue);
  position: fixed;
  right: 16px;
  bottom: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: center;

  transition: 0.5s ease-in-out;
  opacity: 0;
}

.backToTop svg {
  font-size: 2em;
}

.backToTop.visible {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .backToTop {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .backToTop svg {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-areas:
      "header header"
      "content content";
  }

  .menu {
    display: none;
  }
}
