.container {
  width: 100%;
  height: calc(100vh - 64px);
  overflow: hidden;
  display: flex;

  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}

.container .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;

  overflow: hidden;
  overflow-y: auto;
  margin-right: 16px;
}

.container .gamesList {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 4px;
}

.container .gamesList .btnAct {
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .container .content::-webkit-scrollbar {
    width: 0px;
  }

  .container .content {
    align-items: center;
  }
}
