.container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;

  display: flex;
  flex-direction: column;
  gap: 54px;
}

.container .header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container .header > h1 {
  font-size: 1.2em;
}

.container .header > a button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container .content {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-bottom: 24px;
}

.btnAct {
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .container {
    gap: 32px;
    padding-top: 0px;
  }

  .container .header {
    align-items: center;
  }
}
